@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .navbar-icon{
    @apply relative flex items-center justify-center
    h-12 w-64 mt-2 mb-2 mx-auto shadow-lg
    bg-secondary text-white rounded-2xl hover:bg-tertiary 
    hover:rounded-lg transition-all duration-100 ease-linear cursor-pointer;
  }
  .navbar-tooltip{
    @apply absolute w-auto p-2 m-2 min-w-max top-14 rounded-md
    shadow-md text-white bg-tertiary text-xs font-bold
    transition-all duration-100 scale-0 origin-bottom
  }
}